body {
    font-family: Arial, sans-serif;
    background-color: #baeefe;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    background-color: rgb(255, 116, 116);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  